In [1]:
import numpy as np 
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv')
df1 = pd.read_csv('test.csv')
test_data = 'gender_submission.csv'
df2 = pd.read_csv(test_data)
df2=df2[['Survived']].copy()
df2 = df2.values

In [4]:
mean_df=df['Age'].mean()
mean_df1=df1['Age'].mean()

In [5]:
df['Age'].replace(np.nan,mean_df, inplace=True)
df1['Age'].replace(np.nan,mean_df1, inplace=True)

In [6]:
df.drop('Cabin',axis=1,inplace=True)
df1.drop('Cabin',axis=1,inplace=True)

In [7]:
price_df=df['Fare'].mean()
price_df1=df1['Fare'].mean()

In [8]:
df['Fare'].replace(np.nan,price_df, inplace=True)
df1['Fare'].replace(np.nan,price_df1, inplace=True)

In [9]:
sex_dummies = pd.get_dummies(df['Sex'])
sex_dummies.columns=['gender','sex1']

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [11]:
df['Alone'] = df.Parch + df.SibSp
df['Alone'].loc[df['Alone']>0] = 'With Family'
df['Alone'].loc[df['Alone'] == 0] = 'Without Family'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
df1['Alone'] = df1.Parch + df1.SibSp
df1['Alone'].loc[df1['Alone']>0] = 'With Family'
df1['Alone'].loc[df1['Alone'] == 0] = 'Without Family'

In [13]:
df1.Alone.unique()

array(['Without Family', 'With Family'], dtype=object)

In [14]:
df = df.drop(['Ticket'], axis = 1)
df1 = df1.drop(['Ticket'], axis = 1)

In [15]:
print("Number of people embarking in Southampton (S):")
southampton = df[df["Embarked"] == "S"].shape[0]
print(southampton)

print("Number of people embarking in Cherbourg (C):")
cherbourg = df[df["Embarked"] == "C"].shape[0]
print(cherbourg)

print("Number of people embarking in Queenstown (Q):")

queenstown = df[df["Embarked"] == "Q"].shape[0]
              
print(queenstown)

Number of people embarking in Southampton (S):
644
Number of people embarking in Cherbourg (C):
168
Number of people embarking in Queenstown (Q):
77

In [16]:
df = df.fillna({"Embarked": "S"})

df1 = df1.fillna({"Embarked": "S"})

In [17]:
Alone_mapping = {"With Family": 0, "Without Family": 1 }
df['Alone'] = df['Alone'].map(Alone_mapping)

In [18]:
sex_mapping = {"male": 0, "female": 1 }
df['Sex'] = df['Sex'].map(sex_mapping)

In [19]:
alone_mapping = {"With Family": 0, "Without Family": 1 }
df1['Alone'] = df1['Alone'].map(alone_mapping)

In [20]:
Sex_mapping = {"male": 0, "female": 1 }
df1['Sex'] = df1['Sex'].map(Sex_mapping)

In [21]:
df1.isnull().values.any()

False

In [22]:
df1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Alone
0,892,3,"Kelly, Mr. James",0,34.5,0,0,7.8292,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,7.0000,S,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,9.6875,Q,1
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,8.6625,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,12.2875,S,0

In [23]:
embarked_mapping = {"S": 1, "C": 2, "Q": 3}
df['Embarked'] = df['Embarked'].map(embarked_mapping)


embarked_mapping = {"S": 1, "C": 2, "Q": 3}
df1['Embarked'] = df1['Embarked'].map(embarked_mapping)

df1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Alone
0,892,3,"Kelly, Mr. James",0,34.5,0,0,7.8292,3,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,7.0000,1,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,9.6875,3,1
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,8.6625,1,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,12.2875,1,0

In [24]:
titanic_train = df[['Pclass','Age','Embarked','Alone','Sex','Fare']]
titanic_survived = df.Survived
titanic_train1 = df1[['Pclass','Age','Embarked','Alone','Sex','Fare']]

In [25]:
titanic_survived.shape

(891,)

In [26]:
titanic_train1.isnull().sum()

Pclass      0
Age         0
Embarked    0
Alone       0
Sex         0
Fare        0
dtype: int64

In [27]:
class SVM:

    def __init__(self, alpha=0.001, lambda1 =0.01, epochs=1000):
        self.alpha = alpha 
        self.lambda1 = lambda1
        self.epochs = epochs
        self.weights = None
        self.b = None


    def fit(self, X, y):
        cols, rows = X.shape
        y1 = np.where(y <= 0, -1, 1)
        self.weights = np.random.randn(rows)
        self.b = 0
        
        for _ in range(self.epochs):
            for i in range(len(y1)):
                if y1[i] * (np.dot(X[i], self.weights) - self.b) >= 1:
                    self.weights -= self.alpha * (2 * self.lambda1 * self.weights)
                else:
                    self.weights -= self.alpha * (2 * self.lambda1 * self.weights - y1[i] * X[i])
                    self.b -= self.alpha * y1[i]

    def predict(self, X):
        approx = np.dot(X, self.weights) - self.b
        return np.sign(approx)

In [28]:

X1 = titanic_train.copy()
X1 = X1.to_numpy()

y1 = titanic_survived.copy()
y1 = y1.to_numpy()

X1_test = titanic_train1.copy()
X1_test = X1_test.to_numpy()

In [29]:
svmobj = SVM()
svmobj.fit(X1, y1)
prediction = svmobj.predict(X1_test)
for i in range(len(prediction)):
    if prediction[i] == -1:
        prediction[i] = 0


print(prediction)

[0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1.
 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0.
 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0.
 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1.
 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0.
 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0.
 1. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1.
 1. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1.
 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 1.
 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0.
 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1.
 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1.
 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1.
 1. 1. 1. 1. 1. 0. 1. 0. 0. 0.]

In [30]:
def m_accuracy(pred):
    sum = 0
    for i in range(len(prediction)):
        if df2[i]==prediction[i]:
            sum= sum +1
            acc=sum/len(prediction)
            
    print(f"accuracy of model is_{int(acc*100)}%")

In [31]:
m_accuracy(prediction)

accuracy of model is_88%

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
log_model = LogisticRegression()
log_model.fit(X1,y1)
train_survival = log_model.predict(X1_test)

In [35]:
print("Accuracy Score of logistic model is",metrics.accuracy_score(y_true=df2,y_pred=train_survival))

Accuracy Score of logistic model is 0.9473684210526315

In [36]:
corr_coeff = list(zip(titanic_train.columns,np.transpose(log_model.coef_)))

In [37]:
print('Correlation coefficients are ',corr_coeff)

Correlation coefficients are  [('Pclass', array([-1.15618622])), ('Age', array([-0.03374632])), ('Embarked', array([0.32327958])), ('Alone', array([0.03355592])), ('Sex', array([2.48792664])), ('Fare', array([0.00036978]))]

In [38]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X1, y1)

y_pred = svc.predict(X1_test)
print(y_pred)
svc.score(X1, y1)

[0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 0 0 0 1 0 0 1 0 0 0]

0.6823793490460157

In [39]:
from sklearn.svm import SVC
svc = SVC(kernel='linear')
svc.fit(X1, y1)

y_pred = svc.predict(X1_test)
print(y_pred)
svc.score(X1, y1)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

0.7867564534231201